@media only screen and (max-width: 750px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
    }

    .sidebar--closed {
        max-width: 0;
        min-width: 0;
    }

    .sidebar__toggle-button {
        display: flex;
    }

    .resizer {
        display: none;
    }

    .top-bar__button {
        position: initial;
    }

    .main-content {
        width: 100vw !important;
    }

    .top-bar {
        position: initial;
        padding: 15px 15px 0 15px;
        width: 100%;
    }

    .segmented-button {
        max-width: 100%;
    }

    .weather-page {
        width: 100%;
        padding: 0 15px 15px 15px;
    }

    .weather-page__row-section {
        row-gap: 15px;
        display: flex;
        flex-direction: column;
    }

    .weather-component__header {
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
    }

    .weather-component__title {
        margin-bottom: 10px;
    }

    .current-weather {
        margin-bottom: 25px;
    }

    .daily-forecast-item {
        grid-template-columns: 1fr 30px;
    }

    .daily-forecast-item__right-section {
        justify-content: flex-start;
        margin-left: 0;
    }

    .daily-forecast-item__max-min-temperature {
        margin: 5px 0 0 0;
        color: var(--secondTextColor);
        font-size: 13px;
    }

    .modal {
        width: 100%;
        height: 100%;
        border-radius: 0;
        top: 100%;
        left: 0;
        transform: translate(0);
    }

    .modal--active {
        top: 0;
    }

    .welcome--active {
        top: 0;
    }

    .modal__header {
        display: flex;
    }

    .map {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #osm {
        border-radius: 0;
    }

    .map__selected-location {
        bottom: 90px;
        right: initial;
        left: 15px;
    }

    .weather-page__section {
        column-gap: 15px;
        row-gap: 15px;
        margin: 15px 0;
    }

    .weather-page__column-section {
        row-gap: 15px;
        grid-template-rows: repeat(2, auto);
    }

    .weather-data-provider {
        margin-top: 15px;
    }

    .notification {
        left: 15px;
        right: 15px;
        transform: translateX(0);
    }

    .moon__phase-graphic {
        height: 80px;
    }

    #settings-item--lock-weather-page-layout {
        display: none;
    }

    #top-bar__button--share {
        display: none;
    }
}