.logo {
    display: flex;
    flex-direction: column;
}

.logo__icon {
    width: 32px;
    height: 32px;
}

.logo__title {
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 2px;
    color: var(--mainTextColor);
}

.logo__company {
    font-size: 13px;
    color: var(--mainColor);
}

.location-search-bar-container {
    display: flex;
    width: 100%;
}

.location-search-bar {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--mainBackgroundColor);
    border: 1px solid var(--borderColor);
    outline: 1px solid transparent;
    font-size: 15px;
    padding: 0 15px;
}

.location-search-bar label {
    width: 100%;
}

.location-search {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: var(--mainTextColor);
}

.location-search-bar:focus-within {
    border-color: var(--secondColor);
    outline: 2px solid var(--mainColor);
}

.search-bar__icon {
    width: 18px;
    margin-right: 10px;
}

.search-bar__cancel-icon {
    display: none;
    width: 18px;
    cursor: pointer;
}

.search-bar__icon--active {
    display: block;
}

.locations-container {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.autocomplete {
    position: relative;
    width: 100%;
}

.autocomplete-results {
    background-color: var(--grayComponent);
    position: absolute;
    top: calc(100% - 12px);
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 340px;
    overflow-y: auto;
    padding-right: 10px;
}

.autocomplete-results::-webkit-scrollbar {
    width: 20px;
    border-radius: 10px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: var(--grayComponent);
    border: 2px solid var(--grayComponent);
    border-radius: 10px;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background: var(--secondTextColor);
    border-radius: 10px;
    border: 7px solid var(--grayComponent);
}

.autocomplete-results--active {
    display: block;
}

.autocomplete-result__container {
    padding: 0 10px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.autocomplete-results__label {
    padding: 10px 20px 0 20px;
    font-size: 14px;
    font-weight: 500;
    position: sticky;
    top: 0;
}

.autocomplete-result {
    padding: 0 10px 10px;
}

.autocomplete-result__container:hover {
    background-color: var();
}

.autocomplete-result:first-child {
    padding: 10px 10px 10px;
}

.autocomplete-result--active .autocomplete-result__container {
    background-color: var(--mainColor);
    color: #FFFFFF;
}

.autocomplete-result--active .autocomplete-result__name {
    color: var(--mainComponentColor);
}

.autocomplete-result--active .autocomplete-result__state {
    color: var(--thirdTextColor);
}

.autocomplete-result__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--mainTextColor);
}

.autocomplete-result__state {
    font-size: 12px;
    color: var(--secondTextColor);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.sortable-ghost {
    opacity: 0.5;
    background-color: var(--grayComponent);
}

.sortable-drag {
    opacity: 0;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 20px;
    background-color: var(--grayComponent);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 500ms;
    transition-property: background-color;
}

.location:last-child {
    margin-bottom: 0;
}

.location--active {
    background-color: var(--thirdColor);
    border: 1px solid var(--secondBorderColor);
}

.location--active .location__name {
    color: var(--mainColor);
    font-weight: 500;
}

.location--active .location__weather-condition {
    color: var(--mainColor);
}

.location--edit-mode .location__delete-btn {
    display: block;
}

.location__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.location__name {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--mainTextColor);
}

.location__time {
    font-size: 13px;
    color: var(--secondTextColor);
}

.location__temperature {
    font-size: 22px;
    font-weight: 500;
    color: var(--mainColor);
}

.location__weather-condition {
    margin-top: 7px;
    font-size: 14px;
    color: var(--secondTextColor);
    font-weight: 500;
    width: 100%;
}

.location__delete-btn {
    cursor: pointer;
    background-color: transparent;
    color: var(--error);
    border: none;
    font-weight: 500;
    display: none;
}

.no-locations {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    white-space: wrap;
    text-align: center;
    align-items: center;
    color: var(--mainColor);
}

.no-locations--active {
    display: flex;
    flex-direction: column;
}

.settings-button {
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 10px;
    transition-duration: 500ms;
    color: var(--mainColor);
    font-weight: 500;
}

.settings-button:hover {
    background-color: var(--grayComponent);
}

.settings-button:hover img {
    animation: rotate 500ms forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(120deg);
    }
}

.settings-button img {
    width: 20px;
    margin-right: 15px;
}