* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LexendDeca', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('../fonts/LexendDeca.ttf') format('truetype');
}

:root,
html[data-theme='light'] {
    --mainColor: #223552;
    --secondColor: #EEF2F8;
    --thirdColor: #D5DCEF;

    --mainBackgroundColor: #FFFFFF;
    --mainComponentColor: #FFFFFF;
    --blurryBackground: rgba(255, 255, 255, 0.9);

    --borderColor: #e5e7eb;
    --secondBorderColor: #CDD9EB;
    --grayComponent: #f3f4f6;
    --componentBorder: #e5e7eb;

    --surface-bg: #f9fafb;
    --surface-hover-bg: #f1f1f1;

    --mainTextColor: #000000;
    --secondTextColor: #1f2937;
    --thirdTextColor: #EEEEEE;

    --error: #BA1A1A;

    --overlay: rgba(0, 0, 0, 0.5);

    --airQualityVeryGood-main: #E8F5E9;
    --airQualityVeryGood-border: #C8E6C9;

    --airQualityModerate-main: #FFF8E1;
    --airQualityModerate-border: #FFE082;

    --airQualityBad-main: #FFF3E0;
    --airQualityBad-border: #FFCC80;

    --airQualityUnhealthy-main: #FFEBEE;
    --airQualityUnhealthy-border: #EF9A9A;

    --airQualityVeryUnhealthy-main: #F3E5F5;
    --airQualityVeryUnhealthy-border: #CE93D8;

    --airQualityHazardous-main: #FFCDD2;
    --airQualityHazardous-border: #EF5350;

    --uvIndexLow: #00FF00;
    --uvIndexModerate: #FFFF00;
    --uvIndexHigh: #FFA500;
    --uvIndexVeryHigh: #FF0000;
    --uvIndexExtreme: #800080;
    --uvIndexHazardous: #7E0023;

    --chartGridColor: rgba(0, 0, 0, 0.1);

    --segmentedButtonAnimation: 300ms;
}

html[data-theme='dark'] {
    --mainColor: #FFFFFF;
    --secondColor: #0F1724;
    --thirdColor: #223552;

    --mainBackgroundColor: #000000;
    --mainComponentColor: #000000;
    --blurryBackground: rgba(0, 0, 0, 0.9);

    --borderColor: #616161;
    --secondBorderColor: #35527E;
    --grayComponent: #212121;
    --componentBorder: #424242;

    --surface-bg: #0f0f0f;
    --surface-hover-bg: #262626;

    --mainTextColor: #FFFFFF;
    --secondTextColor: #E0E0E0;
    --thirdTextColor: #616161;

    --error: #DF2020;

    --overlay: rgba(0, 0, 0, 0.5);

    --airQualityVeryGood-main: #0B280D;
    --airQualityVeryGood-border: #174F1B;

    --airQualityModerate-main: #332700;
    --airQualityModerate-border: #664E00;

    --airQualityBad-main: #331F00;
    --airQualityBad-border: #663F00;

    --airQualityUnhealthy-main: #330008;
    --airQualityUnhealthy-border: #66000F;

    --airQualityVeryUnhealthy-main: #220E25;
    --airQualityVeryUnhealthy-border: #431D49;

    --airQualityHazardous-main: #330005;
    --airQualityHazardous-border: #66000A;

    --chartGridColor: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--mainComponentColor);
    border: 2px solid var(--mainComponentColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondTextColor);
    border-radius: 10px;
    height: 12px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--mainColor);
}

body {
    background-color: var(--mainBackgroundColor);
}

.page {
    overflow: hidden;
    height: 100vh;
    display: flex;
    background-color: var(--surface-bg);

}

.main-content {
    background: var(--secondColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    margin: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    background-color: var(--secondColor);
    /*background-image: url("/graphics/weather-backgrounds/beautiful-sky-with-clouds.jpg");*/
    background-size: 100%;
}

.no-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-locations img {
    height: 75px;
    margin-bottom: 50px;
}

.no-locations p {
    font-size: 20px;
    color: var(--mainColor);
    text-align: center;
    max-width: 250px;
    line-height: 30px;
}

.main-content::-webkit-scrollbar-track {
    background: var(--secondColor);
    border: 2px solid var(--secondColor);
}

.top-bar {
    padding: 25px 30px 0 25px;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: transparent;
    width: 85%;
    max-width: 1500px;
}

.top-bar__section {
    display: flex;
    column-gap: 10px;
}

.notification {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(calc(100% + 20px)) scale(0.9);
    background-color: var(--mainColor);
    color: var(--mainComponentColor);
    z-index: 100;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.notification--visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0) scale(1);
}

.no-user-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.marquee.animate {
    display: inline-block;
    width: calc(100% + 12px) !important;
}

.marquee.animate span {
    animation: marquee 7s linear infinite;
}

.marquee span {
    display: inline-block;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.tippy-box[data-inertia][data-state='visible'] {
    transition: transform 0.15s cubic-bezier(0.71, 1.2, 0.77, 1.24);
}

.tippy-box[data-theme~='custom'] {
    background-color: var(--blurryBackground);
    backdrop-filter: blur(10px);
    color: var(--mainTextColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.tippy-box[data-theme~='main-color'] .tippy-content {
    background-color: var(--mainColor);
    color: var(--mainComponentColor);
    border-radius: 10px;
}

.tippy-tooltip.custom-theme {
    border: 1px solid var(--borderColor);
    border-radius: 8px;
}

.tippy-box[data-theme~='custom'] .tippy-svg-arrow {
    fill: var(--mainColor);
}

.tippy-box[data-theme~='main-color'] .tippy-svg-arrow {
    fill: var(--mainColor);
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    background-color: var(--grayComponent);
    border: 2px solid var(--secondTextColor);
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondTextColor);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--mainColor);
    border: 2px solid transparent;
}

input:checked + .slider:before {
    transform: translateX(20px);
    background-color: var(--mainComponentColor);
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
}